.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s cubic-bezier(0, 0.34, 0.34, 0.98);
  animation-direction: alternate;
  height: 75px;
}

.App-header {
  align-items: center;
  background-color: #222;
  display: flex;
  justify-content: center;
  height: 80px;
  position: relative;
  color: white;
}

.App-title {
  font-size: 1em;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
  position: absolute;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
